@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
@import url('https://fonts.googleapis.com/css?family=Lato');
body,html{
  overflow: hidden;

  background: #27272B;

  font-family: 'Sansita', sans-serif;
}
body{
  position: relative;

  min-width: 100vh;
  margin: 0;

  font-family: 'Source Code Pro';
}
::-moz-selection {
    color: #FBFBFC;
    background: #F42F42;
}
::selection {
    color: #FBFBFC;
    background: #F42F42;
}
a{
  text-decoration: none;

  color: inherit;
}
.vertical_middle{
  vertical-align: middle;
}
.vertical_super{
  vertical-align: super;
}
.pointer{
  cursor: pointer;
}
#loaderImg{
  position: relative;
  left: 45%;

  height: 100vh;

  -webkit-animation: beat 2s infinite linear;
  -moz-animation: beat 2s infinite linear;
  animation: beat 2s infinite linear;
}
@keyframes beat{
	0% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
	30% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
	40% {-webkit-transform: scale(1.08);-moz-transform: scale(1.08);-o-transform: scale(1.08);  transform: scale(1.08);}
	50% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
	60% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
	70% {-webkit-transform: scale(1.05);-moz-transform: scale(1.05);-o-transform: scale(1.05);  transform: scale(1.05);}
	80% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
	100% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
}
@-webkit-keyframes beat{
	0% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
	30% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
	40% {-webkit-transform: scale(1.08);-moz-transform: scale(1.08);-o-transform: scale(1.08);  transform: scale(1.08);}
	50% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
	60% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
	70% {-webkit-transform: scale(1.05);-moz-transform: scale(1.05);-o-transform: scale(1.05);  transform: scale(1.05);}
	80% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
	100% {-webkit-transform: scale(1);-moz-transform: scale(1); -o-transform: scale(1);  transform: scale(1);}
}
#mobile{
  display: none;
}
@media only screen and (max-width:768px){
  #desktop{
    display: none;
  }
  #mobile{
    position: relative;

    display: block;

    height: 100vh;
  }
  #mobile-frame{
    position: absolute;
    top: 40%;
    left: 15%
  }
  .title{
    margin: 0;

    vertical-align: middle;
  }
}
#top_bar{
  position: relative;

  height: 30px;
  margin-top: -7px;

  border-bottom: 1px solid #848484;
}
.el{
  display: inline;
}
#searchForm{
  position: relative;

  margin-top: -15px;
}
input[type=search]{
  height: 25px;
  padding-left: 27px;

  border: none;
  outline: none;
  background: rgba(255,255,255,0.1);

  font-size: 15px;
}
.search{
  position: relative;

  border-radius: 30px;
}
.search_bar_icons{
  position: absolute;
  z-index: 2;

  float: none;

  margin-top:12px;
}
.search_icon{
  margin-left: -212px;
}
.cross_icon{
  margin-left: -23px;

  font-weight: 100;
}
.title{
  position: relative;
  left: 22%;

  display: inline-block;

  width: 15vw;
  margin: 0 auto;
  padding-left: 35px;

  background: url(../assets/site/newLogo.svg) no-repeat -2px;
  background-position: left;

  font-family: 'Architects Daughter';
  font-weight: 400;
}
#user{
  position: relative;

  float: right;

  width: 100px;
  height: 24px;

  text-align: center;

  line-height: 24px;
}
.user_image_main{
  margin-top: 12px;
  margin-right: 5px;
}
.user_image{
  top: -2%;

  width: 24px;
  height: 24px;
  margin-top: 10px;

  border: 1px solid #848484;
}
.user_name{
  display: inline-block;

  margin-top: -2px;

  vertical-align: super;

  font-size: 20px;
  line-height: normal;
}

.main{
  width: 100%;
  height: 85vh;

  background: inherit;

  font-family: 'Roboto', sans-serif;
}
.colu{
  position: relative;

  float: left;

  height: inherit;
}
.col1{
  z-index: 1;

  width: 17.4285714286%;

  background: #212123;
}
.col2{
  z-index: 0;

  width: 66.2857142857%;

  outline: 1px solid #373738;
  outline-offset: -1px;
  background: #2d2d30;

  font-family: 'Lato', sans-serif;
}
.col3{
  z-index: 1;

  width: 16.2857142857%;

  background: #212123;
}
#menu{
  position: relative;

  height: 50%;
}
#menu_list{
  padding-top: 10px;

  list-style-type: none;

  font-weight: 100;
}
.menu_icons{
  width: 15px;
  padding: 0 10px 15px 0;
  padding-left: -2px;

  text-align: center;
  text-align: center;

  color: #D3333D;
}
.menu_title{
  padding-left: 5px;
}
#musicArt{
  position: relative;

  height: 40%;

  background: inherit;
}
#videoArt{
  width: 100%;
}
#musicTitle{
  position: relative;

  overflow-y: scroll;

  height: 42px;

  text-overflow: ellipsis;

  line-height: 22px;
}
.scroll::-webkit-scrollbar-track{
	background-color: #2d2d30;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll::-webkit-scrollbar{
	width: 6px;

	background-color: #2d2d30;
}
.scroll::-webkit-scrollbar-thumb{
	background-color: #212123;
}
.scroll::-moz-scrollbar-track{
	background-color: #2d2d30;
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scroll::-moz-scrollbar{
	width: 6px;

	background-color: #2d2d30;
}
.scroll::-moz-scrollbar-thumb{
	background-color: #212123;
}
/*inverse scroll*/
.scrollX::-webkit-scrollbar-track{
	background-color: #212123;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scrollX::-webkit-scrollbar{
	width: 6px;

	background-color: #212123;
}
.scrollX::-webkit-scrollbar-thumb{
	background-color: #2d2d30;
}
.scrollX::-moz-scrollbar-track{
	background-color: #212123;
	-moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}
.scrollX::-moz-scrollbar{
	width: 6px;

	background-color: #212123;
}
.scrollX::-moz-scrollbar-thumb{
	background-color: #2d2d30;
}

#player_bar{
  z-index: 2;

  height: 100px;

  border-top: 1px solid #848484;
  background-color: #2d2d30;
}
.player_icons{
  padding: 10px;
  padding-top: 10px;

  cursor: pointer;
  vertical-align: middle;

  color: white;

  font-size: 20px;
  font-weight: 100;
}
.fa-step-backward{
  padding-left: 30px;
}
.play{
  font-size: 32px;
}
input[type=range] {
  box-sizing: border-box;
  height: 2em;

  cursor: pointer;

  background-color: transparent;

  font-size: 6px;
  line-height: 1;

  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;

  cursor: pointer;

  color: transparent;
  border-color: transparent;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  width: 2em;
  height: 2em;
  margin-top: 0;

  cursor: pointer;

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  background-color: #fff;

  -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
  width: 2em;
  height: 2em;
  margin-top: 0;

  cursor: pointer;

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  background-color: #fff;
}
input[type=range]::-ms-thumb {
  width: 2em;
  height: 2em;
  margin-top: 0;

  cursor: pointer;

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  background-color: #fff;
}
input[type=range]:hover::-webkit-slider-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:hover::-moz-range-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:hover::-ms-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:active::-webkit-slider-thumb {
  border-color: #ffffff;
}
input[type=range]:active::-moz-range-thumb {
  border-color: #ffffff;
}
input[type=range]:active::-ms-thumb {
  border-color: #ffffff;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1em;

  cursor: pointer;

  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1em;

  cursor: pointer;

  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type=range]::-ms-track {
  color: transparent;
  border-color: transparent;
  background: transparent;
}
#mute{
  position: absolute;

  width: 40px;
  margin-top: 17px;
  padding-left: 5px;

  vertical-align: middle;
}
#volume{
  width: 100px;
}
.time_complete{
  position: absolute;

  width: 20px;
  margin-top: 17px;
  margin-left: 30px;

  text-align: right;
  vertical-align: middle;
}
#seekbar{
  position: absolute;

  width: 950px;
  margin-top: 17px;
  margin-left: 70px;
}
#duration{
  position: absolute;
  right: 60px;

  margin-top: 17px;

  text-align: left;
}
#loop{
  position: absolute;
  right: 15px;

  margin-top: 17px;
}
.channel_cover{
  position: relative;

  height: 45%;
}
#cover{
  position: relative;
  top: 14%;

  width: 90%;
  height: 88%;
  margin: 0 auto;

  opacity: 0.5;
  background-image: url();
  background-position: 0px -100px;
  background-size: cover;
}
#channelArt{
  position: absolute;
  top: 66%;
  left: 7%;
}
#channelIcon{
  position: relative;
  left: 5%;

  width: 90px;
  height: 90px;
}
#channelName{
  position: relative;
  left: 15%;
}
#cover_bottom{
  position: relative;
  top: 4%;

  width: 90%;
  height: 46%;
  margin: 0 auto;

  background: #212123;
}
.channel_navigation{
  list-style: none;
}
.navigation{
  position: relative;

  display: flex;

  width: 100%;
  height: 12%;
}
.active_border{
  border-bottom: 2px solid #D3333D;
}
.display_none{
  display: none;
}
.content{
  height: 85%;
}
.overview{
  position: absolute;
}
.overview_body{
  position: relative;
  z-index: 0;

  display: table;
  float: left;

  width: 62vw;
  max-height: 277px;
}
#popular{
  bottom: 200px;

  width: 90%;
  max-height: 70%;

  background: inherit;
}
#popular_videos{
  position: absolute;

  overflow-y: scroll;

  width: 55%;
  max-height: 170px;

  line-height: 30px;
}
.popular_video{
  height: 33px;

  vertical-align: middle;

  color: grey;
}
.popular_video:hover{
  opacity: 0.9;
  background: #3a3a3a;
}
.popular_video_thumbnail{
  padding-right: 10px;

  vertical-align: bottom;
}
.popular_video_index{
  width: 50px;
  margin-right:10px;
}
.popular_video_name{
  display: inline-block;
  overflow-x: hidden;
  overflow-y: scroll;

  width: 340px;
  height: 24px;

  line-height: 24px;
}
.popular_video_count{
  float: right;

  text-align: right;
}
#related{
  display: table-cell;

  width: 40%;

  background: inherit;
}
#related_videos{
  float: left;
  overflow-y: scroll;

  max-height: 160px;
}
.related_video{
  background: #2d2d30;
}
.related_video_thumbnail{
  padding-right: 10px;

  vertical-align: middle;
}
.related_video_name{
  display: inline-block;
  overflow-x: hidden;
  overflow-y: scroll;

  width: 190px;
  height: 32px;

  line-height: 26px;
}
.overview_tab{
  width: 50%;
  height: 90%;
}

/*facebook login button*/
.loginBtn {
  position: relative;
  top: 45%;

  box-sizing: border-box;
  margin: 0.5em;
  padding: 0 15px 0 46px;

  cursor: pointer;
  text-align: left;
  white-space: nowrap;

  color: #FFF;
  border: none;

  font-size: 16px;
  line-height: 34px;
}
.loginBtn:before {
  position: absolute;
  top: 0;
  left: 0;

  box-sizing: border-box;
  width: 34px;
  height: 100%;

  content: "";
}
.loginBtn:focus {
  outline: none;
}
.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0,0,0,0.1);
}
.loginBtn--facebook {
  background-color: #3b5998;
}
.loginBtn--facebook:before {
  border-right: #3b5998 1px solid;
  background: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png') 6px 6px no-repeat;
}

/*download*/
.btn {
  position: relative;

  width: 170px;
  margin: 0 auto;
  padding: 15px;

  cursor: pointer;
  transition: all 500ms cubic-bezier(0.6, -0.28, 0.735, 0.045);
  text-align: center;
  letter-spacing: 4px;
  text-transform: uppercase;

  color: #F4F4F4;
  background: #e74c3c;
  top: 40%;
}
.btn-progress {
  width: 190px;

  color: transparent;
}
.btn-fill:after {
  position: absolute;
  top: 0;
  left: 0;

  height: 100%;

  content: '';
  animation: fill 1.2s linear forwards;

  background: #c0392b;
}
.btn-complete {
  width: 42px;
  padding: 10px;

  pointer-events: none;

  color: transparent;
}
.btn-complete:after {
  position: absolute;

  display: block;

  margin: -20px 3px;

  content: "\f00c";

  color: #F4F4F4;

  font-family: FontAwesome;
}
@keyframes fill {
  from { width: 0; }
  to { width: 100%; }
}
.fb-like{
  position: relative;
  top: 80%;
  left: 4%;
}
.fb-send{
  position: relative;
  top: -20%;
  left: 5%;
}
