@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
body,html{
  overflow: hidden;

  background: #27272B;

  font-family: 'Sansita', sans-serif;
}
body{
  position: relative;

  min-width: 100vh;
  margin: 0;

  font-family: 'Source Code Pro';
}
::-moz-selection {
    color: #FBFBFC;
    background: #F42F42;
}
::selection {
    color: #FBFBFC;
    background: #F42F42;
}
a{
  text-decoration: none;

  color: inherit;
}
#mobile{
  display: none;
}
@media only screen and (max-width:768px){
  #desktop{
    display: none;
  }
  #mobile{
    position: relative;

    display: block;

    height: 100vh;
  }
  #mobile-frame{
    position: absolute;
    top: 40%;
    left: 15%
  }
  .title{
    margin: 0;

    vertical-align: middle;
  }
}
#top_bar{
  height: 30px;
  margin-top: -7px;

  border-bottom: 1px solid #848484;
}
input[type=search]{
  height: 25px;
  padding-left: 27px;

  border: none;
  outline: none;
  background: rgba(255,255,255,0.1);

  font-size: 15px;
}
.search{
  position: relative;

  margin-top: 7px;

  border-radius: 30px;
}
.search_bar_icons{
  position: absolute;
  z-index: 2;

  float: none;

  margin-top:12px;
}
.search_icon{
  margin-left: -212px;
}
.cross_icon{
  margin-left: -23px;

  font-weight: 100;
}
.title{
  position: relative;
  left: 22%;

  display: inline-block;

  width: 15vw;
  margin: 0 auto;
  padding-left: 32px;

  background: url(../assets/site/newfav.png) no-repeat -2px;

  font-family: 'Architects Daughter';
  font-weight: 400;
}
#user{
  position: relative;

  float: right;

  width: 100px;
  height: 24px;

  text-align: center;

  line-height: 24px;
}
.user_image_main{
  margin-top: 12px;
  margin-right: 5px;
}
.user_image{
  top: -2%;

  width: 24px;
  height: 24px;
  margin-top: 10px;

  border: 1px solid #848484;
}
.user_name{
  display: inline-block;

  margin-top: -2px;

  vertical-align: super;

  font-size: 20px;
  line-height: normal;
}

.main{
  width: 100%;
  height: 85vh;

  background: inherit;

  font-family: 'Roboto', sans-serif;
}
.colu{
  position: relative;

  float: left;

  height: inherit;
  height: inherit;
}
.col1{
  width: 21.4285714286%;

  background: #2d2d30;
}
.col2{
  width: 64.2857142857%;

  background: inherit;
}
.col3{
  width: 14.2857142857%;

  background: blue;
}
#menu{
  position: relative;

  height: 50%;
}
#menu_list{
  padding-top: 10px;

  list-style-type: none;

  font-weight: 100;
}
.menu_icons{
  width: 15px;
  padding: 0 10px 15px 0;
  padding-left: -2px;

  text-align: center;
  text-align: center;

  color: #F42F42;
}
.menu_title{
  padding-left: 5px;
}
#musicArt{
  position: relative;

  height: 40%;

  background: inherit;
}
#videoArt{
  width: 100%;
}
#musicTitle{
  position: relative;

  height: auto;
}
#player_bar{
  height: 100px;

  border-top: 1px solid #848484;
  background-color: #2d2d30;
}
.player_icons{
  padding: 10px;
  padding-top: 10px;

  vertical-align: middle;

  color: white;

  font-size: 20px;
  font-weight: 100;
}
.fa-step-backward{
  padding-left: 30px;
}
.play{
  font-size: 32px;
}
input[type=range] {
  box-sizing: border-box;
  height: 2em;

  cursor: pointer;

  background-color: transparent;

  font-size: 6px;
  line-height: 1;

  -webkit-appearance: none;
}
input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-ms-track {
  width: 100%;

  cursor: pointer;

  color: transparent;
  border-color: transparent;
  background: transparent;
}
input[type=range]::-webkit-slider-thumb {
  width: 2em;
  height: 2em;
  margin-top: 0;

  cursor: pointer;

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  background-color: #fff;

  -webkit-appearance: none;
}
input[type=range]::-moz-range-thumb {
  width: 2em;
  height: 2em;
  margin-top: 0;

  cursor: pointer;

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  background-color: #fff;
}
input[type=range]::-ms-thumb {
  width: 2em;
  height: 2em;
  margin-top: 0;

  cursor: pointer;

  border: 2px solid rgba(255, 255, 255, 0.5);
  border-radius: 1em;
  background-color: #fff;
}
input[type=range]:hover::-webkit-slider-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:hover::-moz-range-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:hover::-ms-thumb {
  border-color: rgba(255, 255, 255, 0.7);
}
input[type=range]:active::-webkit-slider-thumb {
  border-color: #ffffff;
}
input[type=range]:active::-moz-range-thumb {
  border-color: #ffffff;
}
input[type=range]:active::-ms-thumb {
  border-color: #ffffff;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 1em;
  cursor: pointer;

  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type=range]::-moz-range-track {
  width: 100%;
  height: 1em;

  cursor: pointer;

  border-bottom: 2px solid rgba(255, 255, 255, 0.5);
  background-color: transparent;
}
input[type=range]::-ms-track {
  color: transparent;
  border-color: transparent;
  background: transparent;
}
.fa-volume-up{
  padding-left: 5px;
  vertical-align: middle;
}
.time_complete{
  padding-left: 20px;
  vertical-align: middle;
}
#volume{
  width: 100px;
}
#seekbar{
  width: 950px;
}

.channel_cover{
  height: 45%;
  position: relative;
}
#cover{
  position: relative;
  height: 100%;
  background: url('https://i.ytimg.com/vi/Jrv95rcDR5Q/hqdefault.jpg') 0 no-repeat;
  background-size: cover;
  opacity: 0.7;
}
#channelArt{
  top:45%;
  position: absolute;
}
#channelIcon{
  width: 128px;
  height: 128px;
  left: 5%;
  position: relative;
  border: 1px solid white;
}
#channelName{
  position: relative;
  left: 15%;
  font-family: 'Architects Daughter';
}
