  
  /* label color */
   .input-field label {
     color: #E62117;
   }
   /* label focus color */
   .input-field input[type=text]:focus + label {
     color: #E62117;
   }
   /* label underline focus color */
   .input-field input[type=text]:focus {
     border-bottom: 1px solid #E62117;
     box-shadow: 0 1px 0 0 #E62117;
   }
   /* valid color */
   .input-field input[type=text].valid {
     border-bottom: 1px solid #E62117;
     box-shadow: 0 1px 0 0 #E62117;
   }
   /* invalid color */
   .input-field input[type=text].invalid {
     border-bottom: 1px solid #E62117;
     box-shadow: 0 1px 0 0 #E62117;
   }
   /* icon prefix focus color */
   .input-field .prefix.active {
     color: #E62117;
   }
   .input-fiels{
    display: inline;
   }
   .searchButton{
    margin-top: 21px;
    opacity: 0.6;
    z-index: +99;
   }
   .searchBox{
    padding-left: 40px;
    width: 900px;
   }
   .fb_share{
    padding-left: 5px;
   }
   button>shareBtn{
    padding-top: 40px;
   }
   .fb-share-button{
    margin-bottom: 20px;
   }
   .simHead{
    color: grey;
   }
   .right{
    padding-right:10px;
    font-size: 12px; 
   }
   .logo{
    padding-left: 5px;
   }