<div class="page feed">
<p id="fblogin">LogIn</p>
<!--  <div id="feed">
    <div class="timeline">
      <div class="cards">
        <div class="cardTop">
          <img src="images/dev.jpg" class="profileAvatar"/>
          <div class="ace">
            <span>Dhruv Jain</span> likes <span>Hello</span> from <span>AdeleVEVO</span>
          </div>
        </div>
        <div class="cardBottom">
          <div class="buttonsFor">
            <ul>
              <li class="btns">profile_man</li>
              <li class="btns">like_video</li>
              <li class="btns">play_video</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="cards"></div>
      <div class="cards"></div>
      <div class="cards"></div>
      <div class="cards"></div>
      <div class="cards"></div>
      <div class="cards"></div>
    </div>
  </div>
  -->
</div>
