<title>YtQck - The YouTube Music Player</title>
<meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
<meta content="IE=edge" http-equiv="X-UA-Compatible" />
<link href="assets/site/newfav.png" rel="icon" type="image/png" />
<link rel="manifest" href="manifest.json">
<!--website meta-->
<meta name="description" content="YtQck is a mini YouTube Music Player that plays your desired song instantly - saving more than 50% of data and streaming speed. No ads." />
<meta name="author" content="midhruvjaink" />
<!--robot-->
<meta content="index, follow" name="robots" />
<meta content="1 days" name="revisit-after" />
<meta content="all" name="robots" />
<meta content="all" name="googlebot" />
<!--social links-->
<meta property="og:title" content="YtQck" />
<meta property="og:site_name" content="YtQck" />
<meta property="og:type" content="website" />
<meta property="og:description" content="YtQck is a mini YouTube Player that plays your desired song, trailer or any YouTube video instantly - saving more than 50% of data and streaming speed. No ads." />
<meta property="og:url" content="https://ytqck.github.io/" />
<meta property="og:image" content="assets/site/newLogo.png" />
<meta property="og:image:width" content="256" />
<meta property="og:image:height" content="256" />
<meta property="og:image:type" content="image/png" />
<meta name="twitter:site" content="@midhruvjaink" />
<meta name="twitter:creator" content="@midhruvjaink" />
<meta name="twitter:title" content="YtQck" />
<meta name="twitter:description" content="YtQck is a mini YouTube Player that plays your desired song, trailer or any YouTube video instantly - saving more than 50% of data and streaming speed. No ads." />
<meta name="twitter:image" content="assets/site/newLogo.png" />

<link href="https://cdn.rawgit.com/midhruvjaink/earth/v-0/css/earth.little.css" rel="stylesheet" />
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
<link href="css/style.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/jquery-ui.min.js"></script>
<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.2/themes/smoothness/jquery-ui.css" rel="stylesheet" />
<script src="scripts/facebook.js"></script>
<style>
.ui-autocomplete{
  background: #212123;
  margin-left: 55px;
  border: none;
  top: 5%;
  color: white;
  width: 80px;
  padding: 5px;
}
</style>
