<div class="colu col2">
    <div class="channel_cover">
        <div id="cover" class="shadow-2"></div>
        <div id="channelArt">
            <img src=" " class="img-circle shadow-2" id="channelIcon" />
            <span id="channelName" class="white-text font-size-40"></span>
        </div>
    </div>

    <div id="cover_bottom" class="shadow-1 margin-top-40">
        <div class="navigation channel_navigation grey-text">
            <li class="nav_head margin-top-10 margin-left-10 uppercase-text overviewNav active_border" data-id="overview">overview</li>
            <li class="nav_head margin-top-10 margin-left-10 uppercase-text relatedNav" data-id="related">related</li>
        </div>
        <div class="content channel_navigation">
            <li class="overview">
                <div class="overview_body margin-left-10 margin-right-10 margin-top-10 scrollX">
                    <div id="popular" class="padding-10">
                        <span class="popular_title uppercase-text grey-text">Popular</span>
                        <div id="popular_videos" class="padding-top-10 scrollX">
                            <!--aliens coming-->
                        </div>
                    </div>
                    <div id="related" class="padding-10">
                        <span class="related_title uppercase-text grey-text">Related Music</span>
                        <div id="related_videos" class="padding-10 scrollX">
                            <!--aliens coming-->
                        </div>
                    </div>
                </div>
            </li>
            <li class="related display_none">Related</li>
        </div>
    </div>
</div>
