<div class="colu col1 shadow-1">
    <div id="menu" class="grey-text">
        <ul id="menu_list">
            <a href="#">
                <li><i class="fa fa-cube menu_icons"></i><span class="menu_title">Browse</span></li>
            </a>
            <a href="#">
                <li><i class="fa fa-users menu_icons"></i><span class="menu_title">Activity</span></li>
            </a>
            <a href="#">
                <li><i class="fa fa-podcast menu_icons"></i><span class="menu_title">Radio</span></li>
            </a>
            <a href="#">
                <li><i class="fa fa-flash menu_icons"></i><span class="menu_title">Top List</span></li>
            </a>
            <a href="#">
                <li><i class="fa fa-inbox menu_icons"></i><span class="menu_title">Messages</span></li>
            </a>
            <a href="#">
                <li><i class="fa fa-tablet menu_icons"></i><span class="menu_title">Devices</span></li>
            </a>
        </ul>
        <p class="white-text">Share the song with your friends</p>
        <div class="fb-send" data-href="https://ytqck.github.io/" data-layout="button_count"></div>
        <p class="white-text">Or Share the song on facebook</p>
        <div class="fb-send" data-href="https://ytqck.github.io/" data-layout="button_count"></div>
    </div>
    <div id="musicArt">
        <div id="players"></div>
    </div>
    <div id="musicTitle" class="scroll  padding-left-10">
        <span id="video_name" class="white-text"></span>
    </div>
</div>
