<div class="page player">
  <div id="player"></div>
  <!-- AddToAny BEGIN -->
<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
<a class="a2a_dd" href="https://www.addtoany.com/share"></a>
<a class="a2a_button_facebook"></a>
<a class="a2a_button_twitter"></a>
<a class="a2a_button_google_plus"></a>
<a class="a2a_button_pinterest"></a>
<a class="a2a_button_linkedin"></a>
<a class="a2a_button_whatsapp"></a>
<a class="a2a_button_stumbleupon"></a>
<a class="a2a_button_copy_link"></a>
<a class="a2a_button_facebook_messenger"></a>
<a class="a2a_button_sms"></a>
<a class="a2a_button_telegram"></a>
<a class="a2a_button_email"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>
<!-- AddToAny END -->
  <div id="cARD">
      <i id="demo-show-snackbar" class="material-icons likeBtn" onclick="userVideo();">thumb_up</i>
  </div>
</div>
