<div class="container-fluid" id="player">
  <div class="row">
    <div class="col-md-6">
      <div class="embed-responsive embed-responsive-16by9" id="YTPlayer">
      </div>
    </div>
    <div class="col-md-2">
      <div id="title"></div>
      <div id="channel"></div>
      <div id="viewCount"></div>
      <div id="likeCount"></div>
    </div>
    <div class="col-md-4">
      <div class="row">
        <div class="col-md-6 col-xs-6">
          <div id="secVid"></div>
  				<div id="secVidDe" class="titleX"></div>
          <div id="thVid"></div>
          <div id="thVidDe" class="titleX"></div>
        </div>
        <div class="col-md-6 col-xs-6">
          <div id="frthVid"></div>
          <div id="frthVidDe" class="titleX"></div>
          <div id="fifthVid"></div>
          <div id="fifthVidDe" class="titleX"></div>
        </div>
      </div>
    </div>
  </div>
</div>
