<script src="scripts/jquery-2.2.4.min.js" type="text/javascript"></script>
<script src="scripts/youtube.js" type="text/javascript"></script>
<script src="https://connect.facebook.net/en_US/sdk.js" type="text/javascript"></script>
<script src="https://www.gstatic.com/firebasejs/3.6.4/firebase.js"></script>
<script src="scripts/ytVideoData.js" type="text/javascript"></script>
<script src="scripts/fbRoot.js" type="text/javascript"></script>
<script src="scripts/mainsw.js" type="text/javascript"></script>
<script src="scripts/new.js" type="text/javascript"></script>
<script src="scripts/analytics.js" type="text/javascript"></script>
