<nav class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-xs-2 mainLogo">
      <img src="main.png" align="center" alt="logo" class="responsive-img logo" width="45px" height="45px" class="mainLogo" autocomplete="off" />
    </div>
    <div class="col-md-8 col-xs-10 serachForm">
      <input type="text" name="search" onKeyUp="video(document.getElementById('query').value)" placeholder="Search Video..." class="query" id="query" list="items">
    </div>
    <script type="text/javascript">
      document.getElementById('query').focus();
    </script>
    <div class="col-md-2">
    </div>
  </div>
</nav>
