<div class="window">
  <div class="header">
    <div class="burger-container">
      <div id="burger">
        <div class="bar topBar"></div>
        <div class="bar btmBar"></div>
      </div>
    </div>
    <div class="icon icon-apple">YtQck Music</div>
    <ul class="menu">
      <li class="menu-item"><a href="https://github.com/YtQck/ytqck.github.io">Contribute</a></li>
      <li class="menu-item"><a href="https://github.com/YtQck/ytqck.github.io/blob/master/README.md">About</a></li>
      <li class="menu-item"><a href="#">Support</a></li>
    </ul>
    <div class="shop icon icon-bag"></div>
  </div>
</div>

<div class="search" id="search">
  <form action="">
  <input type="text" name="search" onKeyUp="video(document.getElementById('query').value)" placeholder="Search Music" class="query" id="query" autocomplete="off">
</form>
  <script>
    document.getElementById('query').focus();
  </script>
</div>
