<div class="account">
  <ul>
    <li class="ripple">Sign Out</li>
    <li class="ripple">Switch account</li>
    <li class="ripple">Send feedback</li>
    <li class="ripple">Help</li>
  </ul>
</div>
<div class="side-menu">
  <div class="menu-holder">
    <button class="menu" type="menu"></button>
    <p><span>YtQck</span></p>
  </div>
  <ul>
    <li>Listen Now</li>
    <li>Top Charts</li>
    <li>New Releases</li>
    <li class="active">Music Library</li>
    <li>Podcasts</li>
    <li>Radio</li>
    <li>Shop</li>
  </ul>
  <button class="cta" type="button"><a href="https://midhruvjaink.github.io/" alt="author and developer" style="text-decoration:none; color:white;">@midhruvjaink</a></button>
</div>
<div class="side-menu-overlay"></div>
<header>
  <button class="menu ripple" type="menu"></button>
  <h1>YtQck</h1>
  <input class="desktop-only" id="input" type="text" placeholder="Search"/>
  <label class="mobile-only ripple" for="input"></label>
  <div class="profile"></div>
  <ul>
    <li class="tab ripple one active">Home</li>
    <li class="tab ripple two ">Player</li>
    <li class="tab ripple three">Artists</li>
    <li class="tab ripple four">Albums</li>
    <li class="tab ripple five">Songs</li>
    <li class="tab ripple six">Feeds</li>
    <div class="slider"></div>
  </ul>
</header>
