<div id="top_bar" class="padding-10 grey-text">
    <i class="fa fa-home el"></i>
    <form id="searchForm" class="margin-left-30 grey-text el">
        <input class="search grey-text" id="input" type="search" placeholder="Search" autofocus>
    </form>
    <i class="fa fa-search search_bar_icons search_icon el"></i>
    <i class="fa fa-times search_bar_icons cross_icon el"></i>
    <span class="title font-size-30 el">YtQck</span>
    <div id="user">
        <i class="user_image_main el"><img src="images/dev.png" id="avatar" alt="user images" class="user_image responsive img-circle" /></i>
        <span class="user_name el" id="userName">Guest</span>
    </div>
</div>
