<!DOCTYPE html>
<html lang="en">
  <head>
    <title>YtQck - YouTube Search Engine</title>
    <meta content="1 days" name="revisit-after">
 	  <meta content="YouTube quick play with almost nil clicks and a better speed - not loading most of the shits and dumbs like ads." name="description">
 	  <meta content="yt mini player, yt, mini, player, mini player, youtube mini, youtube mini player, youtube fast player, fast, adfree, youtube adfree, faster youtube, youtube, Dhruv Jain, DhruvJain, YouTube, Dhruv YouTube, YT, YouTube Fast Play, midhruvjaink yt, midhruvjaink youtube, youtube instant, ytinstant, Dhruv, midhruvjaink, Mukesh Jain, DatorLab, GitHub, StackOverFlow, Quora, dj, Dhruva Jain, ZeroPennyMovies, JECRC, Jaipur, India, JECRC College, Jaipur Engineering College and Research Center, RTDEEE," name="keywords">
 	  <meta name="google-site-verification" content="2txplprlPooZHfqxK-K6EismZ3svcuBWOjq9y4D8HXQ" />
 	  <link href='fav.png' rel='icon' type='image/x-icon'/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
 	 <!--og meta-->
 	 <meta name="og:title" content="YouTube Mini Player | YtQck" id="ogTitle">
 	 <meta property="og:url" content="http://ytqck.github.io" />
 	 <meta property="og:type" content="website" />
 	 <meta property="og:description" content="YouTube quick play with almost nil clicks and a better speed - not loading most of the shits and dumbs like ads." />
 	 <meta property="og:image" content="https://ytqck.github.io/main.png" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="css/main.css">
  </head>

  <body>
    {% include top.html %}
    {% include player.html %}
    {{content}}
  <script type="text/javascript" src="scripts/index.js"></script>
  </body>
</html>
